// COULEURS //
$primary-color: orange;
$secondary-color:rgb(30,30,30);
$textColor: black;


// FONT FAMILY //

$fontRegularText: helvetica,verdana,arial,sans-serif;
$fontBigTitle: serif;


// FONT SIZE //

$bigTitleSize: 3rem;


